# data directories

new_dataset_12_july/

manifest.csv


Unique Image Outlines*.json

# model outputs
checkpoints/
results_*.json

# python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
gallstone_env/
.env
*.egg-info/

# jupyter
.ipynb_checkpoints/

# os
.DS_Store
Thumbs.db